@tailwind base;
@tailwind components;
@tailwind utilities;

form{
    .input-group{
        display: flex;
        flex-direction: column;
        label{
            font-weight: 600;
        }
        &.blank{
            display: flex;
            flex-grow: 1;
        }
        &.divider{
            margin-top: 20px;
        }
    }
    button{
        padding: .8rem;
        font-weight: 600;
    }
}
